body {
    width:100%;
    position:relative;
    left:0;
    top:0;
}

.chatbox{
    
    background:#eee;    
    

}

.chatbubble{
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;
    height:70px;
    min-height:30px;
}

.thread {
    
}

.navbar
{
    background:#000;
}